In [3]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

`cars`의 `dirves_right`가 `True` 인 것만 뽑아내보도록 하자.

In [4]:
dr= cars["drives_right"]
sel = cars[dr]
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [5]:
print(cars[cars['drives_right']])

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

numpy의 `np.logical_and()`, `np.logical_or()`, `np.logical_not()`를 사용해서, `cars_per_cap`이 100 이상, 500 이하인 것만 뽑아 내도록 하자.

In [17]:
import pandas as pd
import numpy as np
cars = pd.read_csv('cars.csv', index_col = 0)

cpc=cars['cars_per_cap']
between = np.logical_and(cpc>100,cpc<500)
medium=cars[between]

print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

`enumerate()`를 사용하여 반복문을 만들어 보자. `enumerate()`를 통해 indexing을 할 수 있다.

In [34]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for index, area in enumerate(areas) :
  print("room",str(index),":",str(area))

room 0 : 11.25
room 1 : 18.0
room 2 : 20.0
room 3 : 10.75
room 4 : 9.5

`room 0`이 맘에 안 들기에 `start=1`를 사용함으로써 해결할 수 있다.

In [37]:
for index, area in enumerate(areas,start=1) :
  print("room",str(index),":",str(area))

room 1 : 11.25
room 2 : 18.0
room 3 : 20.0
room 4 : 10.75
room 5 : 9.5

In [38]:
for x, y in enumerate(range(1,11,2),start=1):
  print(x,'번째 홀수는 ',y,'입니다.')

1 번째 홀수는  1 입니다.
2 번째 홀수는  3 입니다.
3 번째 홀수는  5 입니다.
4 번째 홀수는  7 입니다.
5 번째 홀수는  9 입니다.

이를 활용해 리스트의 리스트를 반복할 수 도 있다.

In [43]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x in house:
  print(x)

['hallway', 11.25]
['kitchen', 18.0]
['living room', 20.0]
['bedroom', 10.75]
['bathroom', 9.5]

리스트의 리스트를 반복하면 리스트가 나와서 인덱싱하기 어렵다. 그래서 `enumerate()`가 필요하다.

In [40]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x, place in enumerate(house):
    print('the',house[x][0] ,'is' ,house[x][1],'sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [44]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x, place in enumerate(house):
    print('the',place[0] ,'is' ,place[1],'sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

dictionary를 loop 하기 위해서는 `item()`메소드가 필요하다.

In [45]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x,y in europe.items():
    print('"the capital of '+ x + ' is '+ y + '"')

"the capital of spain is madrid"
"the capital of france is paris"
"the capital of germany is berlin"
"the capital of norway is oslo"
"the capital of italy is rome"
"the capital of poland is warsaw"
"the capital of austria is vienna"

2D NumPy array를 loop하기 위해서는 `np.nditer()`가 필요하다. 그냥 루프하면 1D NumPy array가 차례로 배열된다.

In [47]:

import numpy as np

np_height= np.array([180,194,173,183])
np_weight= np.array([76,81,79,93])
np_baseball = np.array([np_height,np_weight])

for x in np_baseball:
  print(x)

[180 194 173 183]
[76 81 79 93]

리스트의 각 요소를 배열해보도록 하자.

In [49]:
for x in np.nditer(np_baseball):
  print(x)

180
194
173
183
76
81
79
93

pandas data frame을 loop 하기 위해서는 `iterrow()`가 필요하다. 데이터 프레임은

In [1]:
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

In [2]:
for x in cars:
  print(x)

cars_per_cap
country
drives_right

In [5]:
for lab, row in cars.iterrows():
    print(lab)
    print(row)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

다음과 같이 새로운 column을 추가할 수 도 있다.

In [6]:
for lab, row in cars.iterrows():
    cars.loc[lab,"COUNTRY"] = (row["country"]).upper()

print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

`itterow()` 대신 `.apply()`로 새로운 column을 만드는 방법도 있다.

In [7]:
cars["COUNTRY"] = cars["country"].apply(str.upper)
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT