### 내부 함수 (inner function)

In [38]:
def outer(a,b):
    def inner(c, d):
        return c+d
    return inner(a,b)

outer(4,7)

11

In [39]:
def knights(saying):
    def inner(quote):
        return "We are the knights who say: '%s'" % quote
    return inner(saying)

knights('Ni!')

"We are the knights who say: 'Ni!'"

함수를 둘러싼 환경(지역 변수, 코드 등)을 계속 유지하다가, 함수를 호출할 때 다시 꺼내서 사용하는 함수를 클로저(closure)라고 합니다.  
다음 한수 `knights2()`는 `inner2()`라는 클로져를 사용하기 때문에 똑같은 함수가 아닙니다.  

(함수를 반환할 때는 함수 이름만 반환해야 하며 ( )(괄호)를 붙이면 안 됩니다)

In [40]:
def knights2(saying):
    def inner2():
        return "We are the knights who say: '%s'" % saying
    return inner2

c=knights2('ornage')
print(c())

We are the knights who say: 'ornage'

In [41]:
def calc():
    a = 3
    b = 5
    def mul_add(x):
        return a * x + b 
    return mul_add   

c = calc()
print(c(1), c(2), c(3), c(4), c(5))

8 11 14 17 20

잘 보면 함수 calc가 끝났는데도 c는 calc의 지역 변수 a, b를 사용해서 계산을 하고 있습니다. 이렇게 함수를 둘러싼 환경(지역 변수, 코드 등)을 계속 유지하다가, 함수를 호출할 때 다시 꺼내서 사용하는 함수를 클로저(closure)라고 합니다. 여기서는 c에 저장된 함수가 클로저입니다.

### 익명 함수:lambda()

파이썬의 __람다 함수(lambda function)__ 는 단일문으로 표현되는 익명 함수다. `edit_story()`를 정의 해보자.  

arguments는 다음과 같다.  
- `words`: words 리스트
- `func`: words의 각 word 문자열에 적용되는 함수

In [42]:
def edit_story(words, func):
    for word in words:
        print(func(word))

이제 words 리스트와 각 word에 적용할 함수가 필요하다. 고양이가 계단을 헛디뎠을 때 내는 소리로 리스트로 만들어 보자.

In [43]:
stairs = ['thud','meow','thud','hiss']

함수는 각 word의 첫 글자를 대문자로 만들고 느낌표를 붙여주도록 해보자.

In [44]:
def catfunction(word):
    return word.capitalize()+ '!'

In [45]:
edit_story(stairs, catfunction)

Thud!
Meow!
Thud!
Hiss!

람다를 사용하면 `catfunction()`를 람다로 간단하게 바꿀 수 있다.

In [47]:
edit_story(stairs, lambda word : word.capitalize() + '!')

Thud!
Meow!
Thud!
Hiss!

람다에서 하나의 `word` arguments를 취했다. 람다의 `:`이후가 함수의 정의 부분이다.

람다 표현식은 변수에 할당하지 않고 람다 표현식 자체를 바로 호출할 수 있습니다. 다음과 같이 람다 표현식을 `( )`로 묶은 뒤에 다시 `( )`를 붙이고 인수를 넣어서 호출하면 됩니다.

In [49]:
(lambda word : word.capitalize() + '!')('thud')

'Thud!'

람다 표현식에 조건부 표현식을 사용할 수도 있다.  
다음은 `map`을 사용하여 list `a`에서 3의 배수를 str로 변환합니다.

In [50]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x) if x % 3 == 0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

람다 안에서 if, else를 사용할 때는 `:(콜론)`을 붙이지 않는다.  
또한 `elif`를 사용할 수도 없습니다.  
`if else if else`를 쓰면 된다.

아래는 리스트에서 1은 문자열로 변환하고, 2는 실수로 변환, 3 이상은 10을 더하는 것으로 만든 거다.

In [51]:
list(map(lambda x: str(x) if x == 1 else float(x) if x == 2 else x + 10, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

근데 보기 어려워서 걍 아래처럼 if, elif, else 쓰는 거 추천!!

In [52]:
def f(x):
    if x == 1:
        return str(x)
    elif x == 2:
        return float(x)
    else:
        return x + 10
    
list(map(f, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

`map`에 다음과 같이 여러 객체를 넣을 수도 있다.

In [53]:
a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]
list(map(lambda x, y: x * y, a, b))

[2, 8, 18, 32, 50]

이번에는 def로 함수를 만들어서 filter를 사용해보겠습니다

In [55]:
def f(x):
    return x > 5 and x < 10

a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(f, a))

[8, 7, 9]

이름 람다로 표현하면 다음과 같다.

In [56]:
list(filter(lambda x: x > 5 and x < 10, a))

[8, 7, 9]